*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html,body{
    width: 100%;
    height: 100%;
}

body{
    color: #ffffff;
    background: #8E0E00;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #1F1C18, #8E0E00);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #1F1C18, #8E0E00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.container{
    text-align: center;
    width: 100%;
    height: 100%;
}

.nav{
    align-items: center;
    padding: 20px 50px;
    justify-content: space-between;
    display: flex;
}

.nav h3{
    font-size: 25px;
    color: white;
}

a{
    margin: 10px;
    text-decoration: none;
    color: white;
}

a:hover{
    color: rgb(198, 125, 170);
}

.main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 520px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 20px;
}
.heading{
    font-size: 65px;
}

.startButton{
    cursor: pointer;
    color: #ffffff;
    font-size: 14px;
    padding: 8px 20px;
    border: 1px solid white;
    border-radius: 20px;
    box-shadow:0px 3px 3px rgb(187, 161, 29) ;
    background-color: #8E0E00;
}